.header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;


  &__container {
    height: 4rem;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
  }

  &__inner {
    // background: rgba(red, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    height: 100%;
    display: flex;

    align-items: center;
    align-content: center;
    padding-left: 12px;
  }

  &__utility-nav {
    margin-left: auto;
  }
}
