.header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100vw;

  &__container {
    height: 4rem;
    display: flex !important;
    align-items: center;
    align-content: center;
    position: relative;
  }

  &__inner {
    // background: rgba(red, 0.1);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__mobile-trigger {
    margin-right: 0.5rem;
    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  &__logo {
    // height: 100%;
    // display: flex;

    // align-items: center;
    // align-content: center;
  }

  &__nav {
    display: none;
    @media screen and (min-width: 1025px) {
      display: flex;
    }
  }

  &__utility-nav {
    margin-left: auto !important;
    display: flex;
    justify-content: flex-end;
  }
}
