.pathways-recommendations {
  display: block;
  position: relative;


  // ================================================
  // Arrows
  // ================================================
  &__arrow {
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    height: 36px;
    transition: all 0.3s ease;
    width: 36px;
    z-index: 1;
    &:hover {
        background-color: rgba(255, 255, 255, 1);
    }
    svg {
        height: 36px;
        width: 36px;
    }
    &::before {
        display: none;
    }

    &-prev {
      left: 12px;
    }

    &-next {
      right: 12px;
    }
  }
}
